<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @binding_detail.name %>
</p>

<%= link_to 'Edit', edit_binding_detail_path(@binding_detail) %> |
<%= link_to 'Back', binding_details_path %>
