<p>
Library is located in the main building area of the Campus and it can accommodate more than 500 students/users at a time. The collection of books is 1,30,006 including Book-Bank books, subscribes 414 journals for all the disciplines. We have also access to 2000 plus online Journals. This year we have purchased 420 online full text journals from Taylor & Francis Database Vendors. The total area is 2758.56 sq. meters including the extended floors as an additional space for reading hall.
</p>

<h2>
Genesis and Growth:
</h2>

<p>
NITK Central Library established in the year 1960 is provided with modern facilities and offers automated library services to its clientele comprising of about 6000 users namely undergraduate and postgraduate students, research scholars, faculty members and supporting staff of various departments of the institute. NITK library also gives the facility of institution membership to educational institutes and industdies located in and around Mangalore. This Library is located in an independent building with a carpet area of 2759 sq meters in the centde of the Campus and it can accommodate more than 500 students/users at a time. At present, the library has a collection of around 1,30,006 books besides subscribing to around 414 National and International Journals.
</p>

<h2>
Library Opening Hours
</h2>
<ul>
    <li>
        Monday to Friday: 8:00 AM to 11:00 PM
    </li>
    <li>
        Saturday & Sunday: 8:00 AM to 4:00 PM
    </li>
    <li>
        On General Holidays: 8:00 AM to 12:00 Noon
    </li>
</ul>

<h2>
Library Collections:
</h2>

<p>
The Library collections* consists of books, conference proceedings, reports, periodicals, back volumes, standards, reprints, reference books, non-book materials and CD ROMs.*as on 1-3-2014
</p>

<table class="table">
<tr>
    <th>Books</th>
    <th>Book-Bank Books</th>
    <th>Periodicals (Print) - Indian</th>
    <th>Periodicals (Print) - International</th>
    <th>Bound Volume of Periodicals</th>
    <th>Standards</th>
    <th>CD ROM</th>
</tr>
<tr>
    <td>99482</td>
    <td>30524</td>
    <td>161</td>
    <td>253</td>
    <td>15288</td>
    <td>15454</td>
    <td>2051</td>
</tr>
</table>

<h2>
e-Resources:
</h2>

<p>
The Centdal Library has subscribed about 2000 online Journals through INDEST-AICTE Consortium (like - ACM Digital Library, Science Direct, ASCE, ASME, IEEE and SpringerLink etc.) and about 1000 subscribed online journals like Taylor & Francis, Sage, ASTM etc (Through Institutional funds and NIT Consortium). About 200 e-Books of various subjects are also accessible.
</p>

<h2>
Book-Bank:
</h2>

General Book-Bank for all students consists of multiple copies of textbooks. The books are lent to all students for home reading for 30 days. Every year multiple copies are added to the Book-Bank. In addition to this, there is a separate Book-Bank facility for SC/ST students also. There are 30,524 books available in all branches in Book-Banks of this Library. Automation of Book-Bank book is completed and the circulation of books is being done by using BARCODE System.

Special collection for SC/ST students - Students can borrow up to 5 books from Book-Bank for a period of one semester. The Library issues a circular in the beginning of every semester and the eligible students may apply to avail as per the schedule announced by the Library.

<h2>
Book-Bank Working Hours:
</h2>

<pre>
Monday to Friday : 2.00 p.m. to 9.00 p.m.
Saturdays : 9.00 a.m. to 12.00 noon
</pre>
