<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @shelf_detail.address %>
</p>

<%= link_to 'Edit', edit_shelf_detail_path(@shelf_detail) %> |
<%= link_to 'Back', shelf_details_path %>
